.spinner{
    margin-top: 50px;
}

.img-banner{
    width: 100%;
    min-height: 300px;
    max-height: 350px;
    padding: 0;
}

ion-icon{
    font-size: 20px;
    padding: 4px;
}

.box-info{
    background-color: #614ea6;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.btn-edit{
    position: fixed;
    bottom: 10px;
    right: 10px;
    color: black;
    background-color: #614ea6;
    padding: 4px;
    text-decoration: none;
}

.title {
    color: #614ea6;
}

