.container{
    width: 1200px;
}

.card{
    margin: 10px;
}

.card-img-top {
    height: 200px;
    width: 100%;
    object-fit: cover;
}
.card-text {
    height: 120px;
    overflow: hidden;
}


.footer-card{
    display: flex;
    justify-content: center;
    color: #614ea6;
    height: 35px;
    align-items: center;
    
}

.footer-card ion-icon{
    font-size: 20px;
    padding: 4px;
}